* {
    margin: 0;
    box-sizing: border-box;
}



.todo {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 10px;
    text-align: left
}

@tailwind base;
@tailwind components;
@tailwind utilities;